.App {
  text-align: center;
}

/* GENERAL TABLE STYLING */
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #e4e4e4;}

th {
  background-color: #3498db;
  color: white;
  height: 50px;
  text-align: center;
}

td {
  height: 25px;
  text-align: left;
  vertical-align: bottom;
}

/* SPINNER STYLING */
.spinner {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* BUTTON STYLING */
.uniquify {
  border-radius: 4px;
  background-color: #3498db;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.uniquify:hover {opacity: .8}
